<div class="grid-container">
  <section class="heading-text">
    <h1>A new way to connect with your favourite people</h1>
  </section>

  <section class="form-container">
    {{#if alreadySignUp}}
    <p style='color: #c53554' class='registered-msg'>Email is already registered <a href="/login"
        style='text-decoration: underline; margin-left: 1rem;color: rgb(46, 105, 192); font-size: 1.8rem;'>Login</a></p>
    {{/if}}
    <form class="form" method="POST" autocomplete="on">
      {{#if place}}
      <input type="email" name="email" class="email" placeholder="Invalid Email">
      {{else}}
      <input type="email" name="email" class="email" placeholder="Email" value={{email}} >
      {{/if}}
      {{#if email}}
      <button type="submit" class="btn sent-btn">OTP Sent</button>
      {{else}}
      <button type="submit" class="btn">Get OTP</button>
      {{/if}}

    </form>
    <form autocomplete="off" method="POST">
      <input oninput="verifyOTP(this.value)" type="tel" maxlength="6" placeholder="_ _ _ _ _ _" name="inputOTP"
        value="{{inputOtp}}" class="password" />
      <button type="submit" class="btn next">Verify OTP</button>
    </form>

    <a href="/signup/userDetails" class="btn btn-p continue">Continue</a>
  </section>
</div>
<script src="./js/clientSide.js"></script>